<!DOCTYPE html>
<html>
	<head>
		<title>{% block title "Abstract Babel" %}</title>
		{% block stylesheets %}
			<link href="assets/css/babel.css" rel="stylesheet" />
		{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% endblock %}
	</head>
	<body>
		{% block content "" %}
	</body>
</html>
